<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd"
         backupGlobals="false" colors="true" bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache">
  <php>
    <env name="KERNEL_CLASS" value="App\Kernel" />
    <env name="DATABASE_URL" value="mysql://user:root@db:3306/symfony?serverVersion=8" />
  </php>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
